*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.tecladoContainer{
  display: grid;
  margin: 0 auto;
  grid-template-columns: 
  repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 10px;
  row-gap: 15px;
}

.button{
  border: 5px solid rgb(253, 253, 253);
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: white;
}

.button:hover{
  background-color: rgb(253, 253, 253);
  color: black;
}

.palabra{
  max-width: 75%;
  min-width: 100%;
}
